
@model MyStartup.Models.DeliverViewModel

@{
    ViewData["Title"] = "Deliver";
}

<h4>Confrimar Entrega</h4>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Deliver">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div class="form-group">
                <label asp-for="DeliveryDate" class="control-label"></label>
                <div class="input-group date" data-provide="datepicker">
                    <input asp-for="DeliveryDate" class="form-control" />
                    <span class="input-group-addon">
                       
                    </span>
                </div>
                <span asp-validation-for="DeliveryDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">
                    <i class="fas fa-save"></i>
                </button>
                <a asp-action="Index" class="btn btn-success"><i class=" fas fa-undo-alt"></i></a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

